@import "../container/style.scss";

.Button button {
  background-color: $primary;
  height: 60px;
  width: 100%;
  color: white;
  border-radius: 8px;
  font-size: 18px;
  transition: opacity 0.2s;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}
