.Login {
  display: flex;
  flex-direction: row;
  header span {
    margin-left: 8px;
  }
  a:link {
    text-decoration: none;
  }
}

.login-form,
.login-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.login-info {
  background-color: #6557f5;
}

.Container {
  max-width: 100% !important;
}

@media (max-width: 768px) {
  .Login {
    flex-direction: column;
    flex-flow: column-reverse;
  }
  .login-info {
    max-height: 150px;
  }
  .login-form {
    align-items: end;
    margin-top: 2em;
  }
}
