@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap");

$primary: #6557f5;
$secondary: #A98BE8;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
);

@import "~bootstrap/scss/bootstrap";

* {
  margin: 0;
  border: 0;
  outline: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

body {
  .Container {
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
    height: 100vh;
    > * {
      height: inherit;
    }
  }
  .Login .Container {
    max-width: 100%;
  }
}
