#root {
    display: flex;
    flex: 1;
  }

  html,
  body {
    display: flex;
    flex: 1;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* background-size: 100% 100%; */
    flex-direction: column;
    height: 100%;
    width: 100%;
    border: 0px dashed #000;
    color: #666;
    justify-content: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  
  }
.wrapper{

  border: 0px dashed #000;

}
  .blue{
      color: #27adc5;
  }
  .orange {
    color: #fcb41d;
  }
  .gray-new {
    color: #adad85
  }
  .intro{
      padding: 1.5%;
  }
  .title {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #adad85;
    /* background: #ecece0; */
    background-size: cover;
    height: 100px;
    font-size: 1.3em;
    font-weight: 600;
    background-image: url('../../assets/img/map.png');
    
  }
   .header{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px solid #DDD;
    height: 100px;
    font-size: 0.9em;
    font-weight: 600;
    width: 98%;
    margin: 0 auto;
    white-space: pre-line;
    margin-top: 20px;
    box-shadow: 0px 3px 21px 0px rgba(0, 0, 0, 0.1);
  }
  .intro h1{
      font-size: 0.7em;
      
  }
  .row-text{
    /* border: 1px solid #DDD; */
    margin-top: 10px;
    padding: 1%;
    border-radius: 5px;
    font-size: 1.2em;
  }
  .row-text.title{
      font-size: 1.1em;
      box-shadow: 0px 3px 21px 0px rgba(0, 0, 0, 0.1);
  }
  .rodape{

    border-top: 2px solid #ddd;
    margin-top: 10px;
    height: 20%;
    background-image: url('../../assets/img/map.png');
    background-size: cover;
  }
  .bold{
      font-weight: 600;
  }